.card img {
  max-height: 14em;
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file  {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file  input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-delt-btn{
    border: none;
    border-radius: 1.5rem;
    width: 100%;
    padding: 0%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

/*edit */


.edit img{
  width: 20px;
}

.edit {
  font-size: 20px;
  border:0;
  background:transparent;
}


.edits {
  margin-top: 50px !important;
  font-size: 2em;
}

.space {
  width: 180px;  
  height: 32px;
}

/* Edit Profil */
.changed h4 {
  text-align: center;
}
.changed {
  max-width: 400px;
  min-width: 340px;
  overflow: auto;
  position: fixed;
  padding: 25px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;  
  height: 450px;
  background: white;
  border :2px solid #f1f1f1;  
}
.changed-off {
  display: none;
}
.closed {
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}
.change {
  min-width: 100px;
  border :1px solid #f1f1f1;
  height: 30px;
}
.changed .space {
  width: 180px;  
  height: 32px; 
}
.saved {
  position: absolute;
  height: 30px;
  width: 50px;
  cursor: pointer;
  color: white;
  left: 50%;  
  transform: translate(-50%,-50%);
  bottom: 1%;
  background: #33beef;
  border: none;
}

.col-lg-4 {  
  overflow: hidden;
  padding: 24px 20px;
}
.col-lg-4 img {
  width: 350px;
  height: 220px;
  margin-bottom: 20px;
}
section {
  height: 1000px;
}

/* Responsive */
@media screen and (min-width: 1150px){
  .find {
    display: none;
  }
}
@media screen and (max-width: 1150px){
  .search2, .notif {
    display: block; !important    
  }
  .loc, .com, .btn {
    display: none; 
  }
  .notif {    
    right: 130px;             
  }
  .row{
  margin: 0;
  }
  .icon {
  right: -15px;
  } 
}
@media screen and (max-width: 770px){
  .col-lg-8{
    width: 100%;    
  }
  .col-lg-8 .cov{
   margin-left: -15px; 
  }  
  .col-lg-8 .iden{
   margin-left: -15px; 
  }  
  .col-md-4 .ban img{    
    height: 100%;
    width: 100%;      
  }
}
@media screen and (max-width: 510px){
  .findcom, .findloc, .findbtn {
    width: 100%;
    height: 80px;
    margin-left: 0px;    
  }
  .find {
    margin: 0;
  }   
  .changed {
  width: 100%;
  height: 100%;
  }   
}

.titre {
  margin-top: 20px !important;
}

.leg {
  text-align: center;
  margin-top: 15px;
}

.cola {
  margin-top: 15px;
}